<div ng-show="isCurrentPlaceNotOnRecord()">
  <button class="btn btn-primary" ng-click="addPlace()">
    Add Place to Favourites
  </button>
</div>
<br/>
<button class="btn btn-primary" ng-click="backToHome()">
  Back to Home
</button>
<hr/>
<tabset>
  <tab heading="Street View" ng-click="initStreetView()">
    <div class="row">
      <div class="col-md-8 map-height" >
        <div class="map-height" id="street-view-canvas">
          {{initStreetView()}}
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Yelp">
    <yelp-detail
      yelppy = "yelpObj">
    </yelp-detail>
  </tab>
</tabset>
